apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
  namespace: python-app
  labels:
    app: hello-world
    name: raj
spec:
  replicas: 4
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
      - name: app-py
        image: rajkumarck/helloworld-demo-python:rt
        ports:
        - containerPort: 80
