name: docker-ci-pipiline
on: push
jobs:
  docker-ci-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6
      - name: image
        run: docker build -t rajkumarck/helloworld-demo-python:rt .
      - name: verify image
        run: docker images
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
         username: ${{ vars.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_TOKEN }}
      - name: push image
        run: docker push rajkumarck/helloworld-demo-python:rt
